{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^react-(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/types/(.*)$",
    "^@/data/(.*)$",
    "^@/hooks/(.*)$",
    "^@/utils/(.*)$",
    "^@/components/(.*)$",
    "^@/pages/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
